* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

h1 {
  text-align: center;
  font-weight: 800;
}

header {
  background-color: #2F7DF1;
  color: white;
  padding: 96px 16px;
  text-align: center;
}

header > h1 {
  font-weight: 800;
}

header > q {
  margin-top: 16px;
  display: block;
  font-style: italic;
}

footer {
  background-color: royalblue;
  color: white;
  padding: 32px 16px;
  text-align: center;
  font-size: large;
}

.showcases {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.showcase {
  flex-grow: 1;
  text-align: center;
  padding: 64px 16px;
  background-image: linear-gradient(to bottom left, #2F7DF1, #5599FF);
  color: white;
  border-radius: 8px;
}

.showcase:not(:first-child) {
  margin-top: 16px;
}

.showcase:hover {

}

.showcase-title {
  font-size: 28px;
  font-weight: 600;
}

.showcase-subtitle {
  margin-top: 8px;
  font-style: italic;
  font-size: 14px;
}

.showcase-link {
  text-decoration: none;
  padding-top: 20px;
  display: block;
  color: white;
}

aside, section {
  margin-top: 32px;
}

aside {
  text-align: center;
}

img {
  margin-top: 16px;
  border-radius: 8px;
  width: 200px;
}

figure {
  margin-top: 8px;
}

figure a {
  display: block;
  font-size: 14px;
  font-style: italic;
  margin-top: 4px;
  text-decoration: none;
}

figcaption {
  margin-top: 16px;
  font-weight: 800;
  font-size: 24px;
}

ol {
  margin-top: 16px;
  font-size: 14px;
}

.social {
  font-size: 32px;
  color: black;
}
